<input type="hidden" name="patient" value="{{form.patient}}"/></td></tr>
<input type="hidden" name="id" value="{{iif(form.exists(), form.id, Observation.id)}}"/></td></tr>
<table class="grid">
  <tr><td>Test Type:</td><td>{{%server.htmlSelect('code', 'http://hl7.org/fhir/ValueSet/covid-test', iif(form.exists(), form.code, Observation.code))}}</td></tr>
  <tr><td>Status:</td><td>{{%server.htmlSelect('status', 'http://hl7.org/fhir/ValueSet/observation-status', iif(form.exists(), form.status, Observation.status))}}</td></tr>
  <tr><td>Date of Test:</td><td><input name="effective" value="{{iif(form.exists(), form.effective, Observation.effective)}}"/></td></tr>
  <tr><td>Date Reported:</td><td><input name="issued" value="{{iif(form.exists(), form.issued, Observation.issued)}}"/></td></tr>
  <tr><td>Performer:</td><td><input name="performer" value="{{iif(form.exists(), form.performer, Observation.performer.forHtml())}}"/> (YYYY-MM-DD)</td></tr>
  <tr><td>Value:</td><td> <input name="value" value="{{iif(form.exists(), form.value, Observation.value.text)}}"/> </td></tr>
  <tr><td>Error:</td><td> <input name="error" value="{{iif(form.exists(), form.error, Observation.dataAbsentReason.text)}}"/> </td></tr>
</table>
